<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- <script>
  var data = [];
  fetch('/comment/list')
    .then(function(response){
      return response.json()
    })
    .then(function (results) {
      data = results
    })
    .catch(function(e){
      console.log(e)
    })
  </script> -->
  <title>评论列表</title>
</head>
<body>
  <%- include('header', {title: '评论列表'}) %>
  <div class="comment_list">
    <button onclick="location.href='/comment'">添加评论</button>
    <table>
      <colgroup>
        <col width="10%" />
        <col width="40%" />
        <col />
      </colgroup>
      <tr>
        <th>序号</th>
        <th>标题</th>
        <th>内容</th>
      </tr>
      <% for(var i = 0; i < data.length; i++ ) { %>
      <tr>
        <td><%- i+1 %></td>
        <td><a href="/comment/detail?id=<%= data[i].id %>"><%- data[i].title %></a></td>
        <td><%- data[i].content %></td>
      </tr>
      <% } %>
    </table>
    <div class="page">
      <a href="/comment/list?pageNo=1">首页</a>
      <a href="/comment/list?pageNo=<%= pageNo>totalPage ? pageNo-1 : 1 %>">上一页</a>
      <a href="/comment/list?pageNo=<%= pageNo<totalPage ? pageNo+1 : totalPage %>">下一页</a>
      <a href="/comment/list?pageNo=<%= totalPage %>">尾页</a>
      <%= pageNo %>/<%= totalPage %>
      共 <%= count %> 条数据
    </div>
  </div>
</body>
</html>
